body {
	background-color: #F6F4F0;
	font-family: sans-serif;
}
h2 {
	color: green;
	text-align: center;
}
.mitabla {
	background-color: green;
    margin: auto;
    border-style: solid;
    border-width: thin;
    border-collapse: collapse;
    border-color: green;

}
td, tr {
	padding: 4px;
    border-style: solid;
    border-width: thin;
    border-color: green;
}

.lineas-impares {
	background-color: white;
}
.lineas-pares {
	background-color: #dfd;
}
.primera-linea {
	color: white;
}
.mas {
	text-align: center;
	color: green;
}